@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@import "./animation-border.css";

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

html {
  @apply bg-black-0D;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.translateinfo {
  transform: translateY(calc(var(--vh, 1vh) * 100 - 350px));
  /*  transform: translateY(calc(var(--vh, 1vh) * 100 - 200px)); */
}

.h-custom-screen {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}

.h-custom-screen-min {
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
}

.h-custom-screen-footer {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100 - 156px);
}

.h-custom-screen-comments {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100 - 60px);
}

.hidescroll::-webkit-scrollbar {
  width: 0px;
  display: none;
}

.hidescroll::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.scrollnice::-webkit-scrollbar {
  height: 6px;
}

.scrollnice::-webkit-scrollbar-track {
  background: rgba(38, 38, 38, 0.7);
  border-radius: 10px;
}

.scrollnice::-webkit-scrollbar-thumb {
  background: rgba(45, 45, 45, 1);
  border-radius: 10px;
}

.scrollnice::-webkit-scrollbar-thumb:hover {
  background: rgba(38, 38, 38, 0.7);
}

.image-viewer {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100vh;
}

.image-slide {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  position: absolute;
  will-change: transform;
  transition: transform 0.5s ease;
}

@keyframes swipe-up {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.swipe-up {
  animation: swipe-up 0.5s ease-out forwards;
}

@keyframes swipe-down {
  from {
    transform: translateY(100);
  }
  to {
    transform: translateY(0);
  }
}

.swipe-down {
  animation: swipeDown 0.5s forwards;
}

.icon-fade-in-out {
  animation: fadeInOut 2s forwards;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.last-item-gradient {
  background-image: linear-gradient(to left, transparent, black);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: none !important;
  -webkit-text-fill-color: white !important;
  font: inherit !important;
  transition: background-color 5000s ease-in-out 0s;
}

@keyframes fadeAndScale {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fadeAndScale {
  animation: fadeAndScale 0.3s ease-out forwards;
}

/* animacion logo login */
@keyframes scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

.animate-scale {
  animation: scale 1.5s infinite;
}

/*  */

.fade-in {
  animation: fadeIn 500ms ease-in-out forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.video-horizontal {
  -webkit-transform: rotate(90deg) translateY(-100%);
  -moz-transform: rotate(90deg) translateY(-100%);
  -o-transform: rotate(90deg) translateY(-100%);
  -ms-transform: rotate(90deg) translateY(-100%);
  transform: rotate(90deg) translateY(-100%);
  transform-origin: top left;
  max-width: unset !important;
  max-height: unset !important;
  height: 100vw !important;
  width: 100vh !important;
  object-fit: cover !important;
}